@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply bg-zinc-900 text-zinc-100 font-Josefin-Sans min-h-screen;
  }

  .container {
    @apply mx-auto px-2.5;
  }

  p, h1, h2, h3, h4, h5, h6 {
    @apply cursor-default;
  }

  ::-webkit-scrollbar {
    @apply w-4;
  }

  ::-webkit-scrollbar-track {
    @apply bg-zinc-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-700 hover:bg-[#9b57d5]/40 border-[5px] border-solid border-transparent rounded-full bg-clip-padding;
  }
}

@layer components {
  .marquee {
    position: relative;
    display: flex;
    user-select: none;
    width: 100%;
    gap: 2.5rem;
    overflow: hidden;

    .marquee-content {
      flex-shrink: 0;
      display: flex;
      justify-content: space-around;
      min-width: 100%;
      gap: 2.5rem;
      animation: scroll 20s linear infinite;
    }
  }

  .marquee-hover-pause:hover .marquee-content {
    animation-play-state: paused;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 2.5rem));
    }
  }
}

@layer utilities {
  .tipping-point {
    @apply border-indigo-500 border-r-2 pr-2;
    animation: blink-caret .75s ease-in-out infinite;
  }

  @keyframes blink-caret {
    from, to { @apply border-transparent }
    50% { @apply border-[#9b57d5]/40 }
  }
}